# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
*.nuget.props
*.nuget.targets
project.assets.json
project.packagespec.json

# Visual Studio / Rider
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.idea/
launchSettings.json

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
appsettings.*.json
!appsettings.json
!appsettings.Development.json

# Build
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.idb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.tlog

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.coverage
*.coveragexml

# dotnet
*.dotCover
BenchmarkDotNet.Artifacts/
PublishOutput/

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
